.App {
  background: linear-gradient(#333333, #111111);
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100vw;

}

time {
  color: #39ff14;
  display: block;
  font-size: 10em;
  margin: 14% 0;
  width: 100%;
}
